.wrapper {
  height: auto;
  padding: 2rem 5rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  flex-grow: 1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
